{% extends 'MatteoLearnBundle::introLayout.html.twig' %}

{% block content %}
<!-- Example row of columns -->
    <div class="row">
      <div class="span12">
        <label for="langToLearn">
          <h2>What language do you want to learn?</h2>
        </label>
        <input id="langToLearn" name="langToLearn" type="text" class="" />
        <label for="langYouKnow">
          <h2>What language do you know?</h2>
        </label>
        <input id="langYouKnow" name="langYouKnow" type="text" class="" />
        <p><a class="btn" href="#">Start learning &raquo;</a></p>
      </div>
    </div>
{% endblock content %}