{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
<!-- Example row of columns -->
    <div class="row">
      <div class="span4">
        <h2>Picture of me</h2>
        
      </div>
      <div class="span8">
        <h2>Inspiring story about my life</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
    </div>
{% endblock content %}
