{% extends '::base.html.twig' %}

{% block navigation %}
{% endblock navigation %}

{% block custom_styles %}
<style type="text/css">
    body {
      padding-top: 30px;
    }
</style>
{% endblock custom_styles %}

{% block page_header %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="page-header">
    <h1>{% block headline %}E - Learning Platform{% endblock headline %} <small>Only with Cardboxes</small></h1>
  </div>
{% endblock %}

{% block content %}
<p>Check out our awesome <a href="{{ path('learn_cardbox') }}">cardboxes</a></p>
<p>Are you new? Get an introduction <a href="{{ path('learn_intro_homepage') }}">here</a>.</p>
{% endblock content %}
